    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    .productos {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 30px;
    grid-row-gap: 20px;
    justify-items: center;
    }

    .boton1 {
    padding: 10px;
    background-color: #FD794F;
    border: none;
    color: #FFFFFF;
    border-radius: 10px;
    }

    .boton1 a {
    text-decoration: none;
    color: #131313;
    }

    .boton2 {
    height: 50px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #FD794F;
    color: #FFFF;
    border: none;
    border-radius: 10px;
    }

    .botonActivo {
    color: #FFFFFF;
    background-color: #FD794F;
    padding: 10px;
    border-radius: 20px;
    }

    .tarjeta {
    height: 420px;
    width: 250px;
    background-color: #F8FAFB;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: space-evenly;
    }

    .tarjeta h3 {
    font-size: 36px;
    line-height: 83.5%;
    }

    .tarjeta button {
    width: 138px;
    }

    .tarjeta a {
    color: #131313;
    font-size: 10px;
    }

    nav {
    display: flex;
    height: 60px;
    align-items: center;
    grid-area: "nav1";
    z-index: 100;
    position: relative;
    overflow: hidden;
    z-index: 1;
    }

    nav ul {
    display: flex;
    grid-area: "nav1";
    width: 100%;
    }

    nav ul a {
    text-decoration: none;
    }

    nav ul a li {
    list-style: none;
    text-decoration: none;
    font-size: 14px;
    margin-left: 50px;
    }

    nav .logo {
    animation-duration: 2s;
    }

    nav .logo img {
    margin-left: 20px;
    }

    nav .buscadorCarrito {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    }

    nav .buscadorCarrito .buscador {
    display: flex;
    align-items: center;
    margin-right: 20px;
    background-color: #F8FAFB;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    justify-content: center;
    }

    nav .buscadorCarrito .buscador input {
    border: none;
    background-color: #F8FAFB;
    width: 100px;
    padding: 5px;
    }

    nav .buscadorCarrito .buscador input:focus {
    outline: none;
    background-color: #F8FAFB;
    }

    nav .buscadorCarrito .buscador .iconoBuscador {
    margin-right: 10px;
    font-size: 25px;
    color: #FD794F;
    }

    nav .buscadorCarrito .iconoCarrito-catalogo {
    font-size: 25px;
    margin-right: 20px;
    color: #131313;
    cursor: pointer;
    }

    .carrito {
    background-color: #F8FAFB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    transition: 0.3s;
    z-index: 2;
    }

    .carrito .tuCarrito {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
    width: 100%;
    }

    .carrito .tuCarrito h3 {
    font-size: 20px;
    }

    .carrito .tuCarrito a {
    color: #131313;
    }

    .carrito .tuCarrito i {
    font-size: 25px;
    color: #131313;
    cursor: pointer;
    }

    .carrito .totalConfirmar {
    height: 100px;
    background-color: #FFFF;
    width: 90%;
    border-radius: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    }

    .carrito .productosCarrito {
    height: 500px;
    overflow-y: scroll;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .carrito .elementoAñadido {
    display: flex;
    height: auto;
    padding: 20px;
    height: 150px;
    justify-content: space-around;
    width: 90%;
    background-color: #FFFF;
    margin-bottom: 20px;
    border-radius: 30px;
    }

    .carrito .elementoAñadido button {
    margin-top: 10px;
    width: 80px;
    }

    .carrito .elementoAñadido img {
    height: 100%;
    }

    .carrito .imgCarrito {
    width: 100%;
    height: 100px;
    }

    .carritoActivo {
    right: 0;
    }

    .logoCarrito {
    display: flex;
    flex-direction: row-reverse;
    }

    .logoCarrito i {
    font-size: 25px;
    }

    .logoCarrito h3 {
    top: 0;
    font-size: 15px;
    }

    .seccionProductos .tituloProductos {
    font-size: 40px;
    margin-left: 20px;
    margin-top: 20px;
    }

